# -- Active LLM Provider (Fill only one block; leave others empty) --

# LLM PROVIDER
LLM_PROVIDER = '<Your LLM provider here>'                 # Options: OPENAI, SAIA, OLLAMA, HUGGINGFACE
LLM_MODEL = '<Your model here>'                           # Specify the model to use for the selected provider (e.g., gpt-4o for OpenAI)

#OPENAI
OPENAI_API_KEY = 'Your OpenAI API key'
OPENAI_ORGANIZATION_ID = 'Your OpenAI Organization ID'    # Optional, only needed if you have multiple organizations in OpenAI

# SAIA
SAIA_API_KEY = 'Your SAIA API key'
SAIA_BASE_URL = 'https://chat-ai.academiccloud.de/v1'

#OLAMA
OLLAMA_BASE_URL = 'OLLAMA Server Base URL'

#HuggingFace
HuggingFace_Access_Token = 'HuggingFace access token'
HUGGINGFACE_USE_LOCAL = True   # Set to True to use a local HuggingFace model, False to use HuggingFace Inference API

# -- Process Configuration --

PROCESS_NAME = 'Your process name here'
PROCESS_DESCRIPTION = 'Your process description here'

# -- Data Path Configuration (Only set the path for the stage you want to run) --

STAGE1_SPECS_PATH = 'Path to the process specification document for stage 1'
STAGE2_PAPERS_PATH = 'Path to the directory containing research papers for stage 2'
STAGE3_PAPERS_PATH = 'Path to the directory containing research papers for stage 3'

# -- Output Path Configuration --

RESULTS_PATH = 'Path to the directory where results will be saved'
